*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{

    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}
.border{
border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 13px;

}
.add-second{
color: 1rem;
margin:3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    background-color: #cccccc;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box4 */
span{
    font-size: 0.8rem;
}
.nav-second{
    font-size: 0.95rem;
    font-weight:600 ;
}
/* box6 */
.nav-cart i{
font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
color: #f3f3f3;
align-items: center;
justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left:15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image:url(images/hero_image.jpg ) ;
    height: 400px;
    background-size:cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/* Shop section */

.shop-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
}
.box{
   margin: 7px;
    height: 400px;
    width: 23%;
    background-color: #f3f3f3;
    padding: 20px 0 15px;
    
}
.box-img{
    height: 300px;
    background-size: cover;
    margin: 1rem 0;

}
.box-content{
    margin: 0 1rem;
}
.box-content p{
    color: #007185;
}


/* Footer */
.footer{
margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul
{
    margin-top: 20px;
}
ul a{
    display: block;
    color:#dddddd ;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
   color: white;
   border-top: 0.5px solid white;
   height: 78px;
   display: flex;
   justify-content: center;
}
.logo2{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
   height: 60px;
   text-align: center;
   padding: 17px;
   font-size: 0.8rem;
}

.copy{
    padding: 8px;
    
}
@media(max-width:1170px){

    .nav-search{
        width: 400px;
    }
    .box{

         height: 350px;
         
     }
     .box-img{
         height: 250px;
     
     }
     .hero-section{

        height: 380px;
     
    }
    
}
@media(max-width:935px){
    .box{
        width: 30%;
    }
    .nav-search{
        width: 300px;
    }
    .hero-section{

        height: 350px;
     
    }
}
@media(max-width:872px){
    .hero-section{

        height: 320px;
     
    }
}
@media(max-width:789px){
    .navlogo{
        height: 40px;
        width: 80px;
    }
   

    /* box 2 */
    .add-first{
        color: #cccccc;
        font-size: 0.7rem;
        margin-left: 13px;
    
    }
    .add-second{
    color: 0.9rem;
    margin:3px;
    }
    .add-icon{
        display: flex;
        align-items: center;
    }
    
    /* box3 */
    .nav-search{
        width: 250px;
        height: 30px;
    }
    .search-input{ 
        font-size: 0.9rem;
    }
    .search-icon{
        width: 40px;
        font-size: 1rem;
    
    }

    span{
        font-size: 0.7rem;
    }
    .nav-second{
        font-size: 0.8rem;
        font-weight:600 ;
    }
    /* box6 */
    .nav-cart i{
    font-size: 25px;
    }
    .nav-cart{
        font-size: 0.7rem;
        font-weight: 600;
    } 
    .box{

        height: 300px;
        
    }
    .box-img{
        height: 200px;
    
    }
    .hero-section{

        height: 280px;
     
    }
    .hero-msg{
        background-color: white;
        color: black;
        height: 40px;
      
        font-size: 0.64rem;
        width: 90%;
        margin-bottom: 25px;
    }
   
}
@media(max-width:725px){
    .navlogo{
        height: 38px;
        width: 80px;
    }
   

    /* box 2 */
    .add-first{
        color: #cccccc;
        font-size: 0.65rem;
        margin-left: 13px;
    
    }
    .add-second{
    color: 0.8rem;
    margin:3px;
    }

    /* box3 */
    .nav-search{
        width: 200px;
        height: 25px;
    }
    .search-input{ 
        font-size: 0.8rem;
    }
    .search-icon{
        width: 35px;
        font-size: 0.9rem;
    
    }

    span{
        font-size: 0.65rem;
    }
    .nav-second{
        font-size: 0.7rem;
        font-weight:600 ;
    }
    /* box6 */
    .nav-cart i{
    font-size: 22px;
    }
    .nav-cart{
        font-size: 0.65rem;
        font-weight: 600;
        height: 20px;
    } 
    
    .box{

        height: 300px;
        
    }
    .box-img{
        height: 200px;
    
    }
    .hero-section{

        height: 250px;
     
    }
    .hero-msg{
    
        height: 25px;
      
        font-size: 0.64rem;
       
    }
    .panel{
        height: 30px;
    }
   
    .panel-ops p{
       
        margin-left:15px;
    }
    .panel-ops{
        width: 65%;
        font-size: 0.7rem;
    }
    .panel-deals{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .box{
        width: 45%;
    }
}